/bin
/build
/Sistema-Gerenciador-de-Pastelaria-Pastelao/nbproject/private/
/Sistema-Gerenciador-de-Pastelaria-Pastelao/build/
/dist/
src/com/au/resources/icons/Thumbs.db
src/com/au/resources/icons/Thumbs.db