<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SistemaPastelao?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">java</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="com/au/pojo/Notafiscal.hbm.xml"/>
    <mapping resource="com/au/pojo/Despesa.hbm.xml"/>
    <mapping resource="com/au/pojo/Pedido.hbm.xml"/>
    <mapping resource="com/au/pojo/Caixa.hbm.xml"/>
    <mapping resource="com/au/pojo/Notaproduto.hbm.xml"/>
    <mapping resource="com/au/pojo/Produto.hbm.xml"/>
    <mapping resource="com/au/pojo/Ingrediente.hbm.xml"/>
    <mapping resource="com/au/pojo/Funcionario.hbm.xml"/>
    <mapping resource="com/au/pojo/Itempedido.hbm.xml"/>
    <mapping resource="com/au/pojo/Fornecedor.hbm.xml"/>
    <mapping resource="com/au/pojo/Notaingrediente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
